* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
  background-image: linear-gradient(135deg, #FFFFFF, #FFFDDC);
  color: #2D0101;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

.border-test {
  background-color: teal;
  border: 1px solid black;
}

/************************************************************/
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.35em;
	transform: rotate(-45deg);
	vertical-align: top;
  width: 0.45em;
  line-height: 1.6;
  margin-left: .5rem;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
/****************************************************/

nav {
  position: fixed;
  top: 0;
  font-size: 1.7rem;
  padding: 0;
  padding-top: .1rem;
  padding-bottom: .3rem;
  margin: 0;
  border: 1px solid #40E5FF;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
nav:hover {
  border: 0;
}

.nav__text {
  font-weight: 450;
}
.nav__text--silver {
  color: #40E5FF;
}

.nav__ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__li {
  line-height: 2rem;
}

.nav__a {
  text-decoration: none;
}
.nav__a:visited {
  color: #40E5FF;
}

.nav__btn {
  margin: 0 1rem 0 0;
  padding: 0;
}
.nav__btn:hover {
  font-size: 1.9rem;
}
.nav__btn:active {
  font-size: 2rem;
  color: #05C6E5;
}

#aboutBtn, #faqsBtn {
  cursor: pointer;
}

.img__icon--small {
  max-height: 50px;
}

.wrapper {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
}

.wrapper--center {
  align-items: center;
}

.wrapper--blue {
  background-color: #DEFFDC;
}

.wrapper--bluer {
  background-color: #DCFFFD;
}

.wrapper--bluest {
  background-color: #DCDFFF;
}

#mainWindow {
  min-height: 100vh;
}

.wrapper--top {
  margin-top: 2rem;
}
.wrapper__text--justify {
  text-align: justify;
}

.wrapper__text--center {
  text-align: center;
}

.wrapper__text--big {
  font-size: 4rem;
  text-shadow: .2rem .2rem 1rem #A29F9F;
}

.wrapper__sub {
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

.wrapper__sub--red {
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #FE4A49;
}

.wrapper__sub--blue {
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid  #2AB7C9;
}

.wrapper__sub--yellow {
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #FFD766;
}

.wrapper__sub--silver {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #C8C8C8;
}

.display--block {
  display: inline-block;
}

.display--flex {
  display: flex;
  flex-wrap: wrap;
}

.display--flex-right {
  flex-direction: row-reverse;
}

.display--flex-down {
  flex-direction: column;
}

.width--full {
  width: 100%;
}

.width--half {
  width: 50%;
}

.display--hidden {
  display: none;
}
/*******************GROUPING CLASS************************/
.section {

}