* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

body {
  padding: 2.4rem 0 0 0;
  margin: 0;
  background-color: #F5F5F5;
  background-image: linear-gradient(135deg, #FFFFFF, #FFFDDC);
  color: #2D0101;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  position: relative;
  text-shadow: .2rem .2rem 1rem #A29F9F;
}
body::after {
  content: "";
  background: url("https://images.pexels.com/photos/1440406/pexels-photo-1440406.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.border-test {
  background-color: teal;
  border: 1px solid black;
}

nav {
  position: fixed;
  top: 0;
  font-size: 1.7rem;
  padding: 0;
  padding-top: .1rem;
  padding-bottom: .3rem;
  margin: 0;
  border: 1px solid #40E5FF;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  box-shadow: 0 0 .5rem #40E5FF;
  background-color: rgba(170, 81, 157, .8);
}

.nav__text {
  font-weight: 450;
}
.nav__text--silver {
  color: white;
}

.nav__ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__li {
  line-height: 2rem;
}

.nav__a {
  text-decoration: none;
}
.nav__a:visited {
  color: white;
}

.nav__btn {
  margin: 0 1rem 0 0;
  padding: 0;
}
.nav__btn:hover {
  color: #05C6E5;
}
.nav__btn:active {
  /*move down and right*/
  color: #05C6E5;
}

#aboutBtn, #faqsBtn {
  cursor: pointer;
}

.wrapper {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
}

.wrapper--center {
  align-items: center;
}

.wrapper--top {
  margin-top: 2rem;
}
.wrapper__text--justify {
  text-align: justify;
}

.wrapper__text--center {
  text-align: center;
}

.wrapper__text--indent {
  text-indent: 1rem;
}

.wrapper__text--big {
  font-size: 4rem;
}

.wrapper__li--circle {
  list-style-type: circle;
}
.wrapper__sub {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

.wrapper__sub--red {
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #FE4A49;
}

.wrapper__sub--yellow {
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #FFFC4A;
}

.wrapper__sub--green {
  width: 60%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #79FF4A;
}

.wrapper__sub--orange {
  border-radius: 1rem;
  box-shadow: .3rem .3rem 1rem #A29F9F;
  border: .2rem solid #FFA24A;
}

.wrapper__ul--deco-null {
  list-style-type: none;
}

.wrapper--border-bottom {
  border-bottom: .1rem solid #402727;
}

.text__animate--pop {
  animation-name: text--pop;
  animation-duration: 4s;
}
@keyframes text--pop {
  0% {
    font-weight: 400;
  }

  25% {
    font-weight: 500;
  }

  50% {
    font-weight: 600;
    font-size: 1.5rem;
  }

  75% {
    font-weight: 700;
    font-size: 2rem;
  }

  100% {
    font-weight: 700;
    font-size: 1rem;
  }

}
.footer {
  background-color: #292929;
  background-image: radial-gradient(#3E3E3E 1%, #282828);
  text-shadow: none;
}

.display--block {
  display: inline-block;
}

.display--flex {
  display: flex;
  flex-wrap: wrap;
}

.display--flex-right {
  flex-direction: row-reverse;
}

.display--flex-down {
  flex-direction: column;
}

.width--full {
  width: 100%;
}

.width--40 {
  width: 40%;
}

.width--half {
  width: 50%;
}

.width--60 {
  width: 60%;
}

.width--75 {
  width: 75%;
}

.display--hidden {
  display: none;
}
/*******************GROUPING CLASS************************/
.section {

}